<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<div class="row ">
    <div class="card" style="padding: 20px;">
        <div class="row ">
            <div class="col-3"> 
                <img class="rounded float-right" src="https://picsum.photos/300/200" style="width: 300px;"
                    alt="Card image cap">
            </div>
            <div class="col-9">
                <div class="card-body">
                    <h3 class="card-title">
                        <a class="title-link" href="?post={POST_ID}"> {TITLE}</a>
                    </h3>
                    <div class="card-text">
                        <div>
                            <a class="name-link" style="font-weight: 100px !important;" href="users.php?user={USER_ID}">
                                {USERNAME} </a>
                        </div> <br>
                        {SUB_CONTENT}...
                        <a class="link" href="?post={POST_ID}"> Read more</a>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br>

</html>