<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<div class="card" style="padding:20px;">
    <div class="row align-items-center">
        <div class="col-5">

            <h3 class="card-title"> {USERNAME} </h3>

            <p class="card-text">

                <br>
                <dt><b>Favorite Quote:</b></dt>
            <p style="color: rgb(80, 80, 80)">
                <i>“We need to accept that we won’t always make the right decisions, that we’ll screw up royally
                    sometimes – understanding that failure is not the opposite of success, it’s part of success.”</i>
                <br>
                – Arianna Huffington
            </p>
            <dl>
                <br>
                <dt><b>Contact Info:</b></dt>
                <dd>Phone: <i>{PHONE}</i></dd>
                <dd> Email: <i>{EMAIL}</i></dd>
                <br>
                <dt><b>Address:</b></dt>
                <dd>Street: <i>{STREET}</i></dd>
                <dd>City: <i>{CITY}</i></dd>
            </dl>
            </p>
        </div>
        <div class="col-7"><img class="rounded float-right" src="https://picsum.photos/600/400" style="width: 600px;"
                alt="Card image cap"></div>
    </div>
</div>

</html>