<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<div class="row ">
    <div class="card" style="width:100%;">
        <h3 class="card-title">
            <div class="row align-items-center">
                <div class="col-3"> <img class="avatar" src="https://picsum.photos/100" alt="Card image cap"></div>
                <div class="col-9">
                    <div class="card-body">
                        <a class="title-link" href="?user={USER_ID}">{USERNAME}</a>
                    </div>
                </div>
            </div>
    </div>
</div>

</html>